<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cooper's Corn Predictor</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a style='color:black' class="navbar-brand page-scroll" href="#page-top">Top of Page</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a style='color:black' class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a style='color:black' class="page-scroll" href="/currentpredictions">Current Predictions</a>
                    </li>
                    <li>
                        <a style='color:black' class="page-scroll" href="/pastpredictions">Past Predictions</a>
                    </li>
                    <li>
                        <a style='color:black' class="page-scroll" href="/research">Research</a>
                    </li>
                    <li>
                        <a style='color:black' class="page-scroll" href="#portfolio">Data Sources</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style='color:black' id="homeHeading">Cooper's Corn Predictor</h1>
                <p style='color:black'>Helping farmers hedge and traders speculate since 2016</p>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <a style='background-color:black; opacity:.8' href="/currentpredictions" class="btn btn-primary btn-xl page-scroll">Current Predictions</a>


            </div>
        </div>
    </header>

    <section class="bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">How it all started</h2>
                    <hr class="light">
                    <p class="text-faded">I developed the algorithms used for my predictions while participating in Galvanize's Data Science Immersive Program.  I had worked in finance after graduating from Yale University in 2015, but decided it wasn't for me.  Galvanize was my medium for a career change, and the predictions presented here are the culmination of my capstone project.</p>
                    <a href="http://galvanize.com" class="page-scroll btn btn-default btn-xl sr-button">Check Out Galvanize</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style='color:black' class="section-heading text-primary">Research</h2>
                    <hr style='color:black'>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart text-primary sr-icons"></i>
                        <h3><a style='color:black' href='/currentpredictions'>Current Predictions</a></h3>
                        <p class="text-muted">My predictions are updated daily</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flask text-primary sr-icons"></i>
                        <h3><a style='color:black' href='/research'>Interesting Discoveries</a></h3>
                        <p class="text-muted">Some interesting phenomena that revealed themselves during the process</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-database text-primary sr-icons"></i>
                        <h3><a style='color:black' href='/pastpredictions'>Past Predictions </a></h3>
                        <p class="text-muted">See how my model would have performed against true prices through October 2016</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                            <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                                <h3><a style='color:black' href='https://github.com/cstainbrook/Corn-Futres-Capstone'>Github Repo</a></h3>
                                <p class="text-muted">The code for the nerds out there</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <h1>Data Sources</h1>
        </div>
    </aside>

    <section class="bg-dark" id="portfolio">
        <div class="container-fluid">
            <div class="call-to-action">
                <div class="col-lg-4 col-sm-6">
                    <a href='http://interactivebrokers.com'
                        class='portfolio-box'>
                        <img src="static/img/portfolio/thumbnails/interactive_brokers.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Interactive Brokers
                                </div>
                                <div class="project-name">
                                    Futures Prices
                                </div>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href='http://www.ers.usda.gov/data-products/feed-grains-database/feed-grains-yearbook-tables/' class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/usda.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    USDA
                                </div>
                                <div class="project-name">
                                    Crop Data
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.ncdc.noaa.gov/cdo-web/" class="portfolio-box">
                        <img src="static/img/portfolio/thumbnails/noaa.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    NOAA
                                </div>
                                <div class="project-name">
                                    Weather Data
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <hr class="primary">
                    <p>Please reach out if you have questions or comments.  Want to start a partnership?  Even better, I'm always looking for the next challenge.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-linkedin-square fa-3x sr-contact"></i>
                    <p><a style='color:black' href='http://linkedin.com/in/cstainbrook'>linkedin.com</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a style='color:black' href="mailto:cooperstainbrook@yahoo.com">cooperstainbrook@yahoo.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>

</body>

</html>
